In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("./data/merged_dog_tf.csv")
df.head()

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df = df.dropna()
df

In [ ]:
df['품종'].value_counts()

In [ ]:
df['품종'].value_counts().keys()[0:]

In [ ]:
df = df.drop('무게', axis=1)

In [ ]:
for i in df[df['종류'] == '개']['품종']:
    if i != '믹스견' and i != '푸들' and i != '말티즈' and i != '포메라니안' and i != '진도견' and i != '치와와' and i != '비숑 프리제' and i != '시츄' and i != '시바':
        df.replace(i, '기타품종견', inplace = True)

In [ ]:
df['색'].value_counts()[:10]

In [ ]:
for i in df['색']:
    if i == '검':
        df.replace(i, '흑', inplace = True)
    elif i == '흰':
        df.replace(i, '백', inplace = True)
    elif i != '흰' and i != '검' and i != '갈' and i != '황' and i != '흑' and i != '백' and i != '회':
        df.replace(i, '기타', inplace = True)

In [ ]:
for i in df['지역']:
    if i == '서울' or i == '인천' or i == '경기':
        df['지역'].replace(i, '수도권', inplace = True)
    elif i == '충남' or i == '충북' or i == '대전' or i == '세종' :
        df['지역'].replace(i, '호서', inplace = True)
    elif i == '전북' or i == '전남' or i == '광주' :
        df['지역'].replace(i, '호남', inplace = True)
    elif i == '대구' or i == '경남' or i == '경북' or i == '부산' or i == '울산' :
        df['지역'].replace(i, '영남', inplace = True)
    elif i == '강원' :
        df['지역'].replace(i, '관동', inplace = True)
    elif i == '제주' :
        df['지역'].replace(i, '제주', inplace = True)
df

In [ ]:
df['중성화유무'].value_counts()

In [ ]:
df['나이'].describe()

In [ ]:
df['나이'].value_counts()

In [ ]:
for i in df['나이']:
    if i <= 1 :
        df.replace(i, '유년', inplace = True)
    elif i > 1 and i <= 7 :
        df.replace(i, '성년', inplace = True)
    else:
        df.replace(i, '노년', inplace = True)
df['나이'].value_counts()

In [ ]:
df['상태'].value_counts()

In [ ]:
df = df[df['상태'] != '방사']
df = df[df['상태'] != '반환']

In [ ]:
for i in df['상태']:
    if i == '기증':
        df['상태'].replace(i, '입양', inplace = True)
    elif i == '안락사' or i == '자연사':
        df['상태'].replace(i, '미입양', inplace = True)
df['상태'].value_counts()

In [ ]:
df = df.drop('종류', axis=1)

In [ ]:
df = df[df['성별'] != '미상']
df['성별'].value_counts()

In [ ]:
df.to_csv('./data/dogs_eda_data.csv',encoding='utf-8-sig', index=False)